@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #765F52; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(68, 55, 48); 
}

::selection {
  color: rgb(68, 55, 48); 
  background: #aaa;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'raleway', sans-serif;
}

body {
  height: 100%;
}

.header ul {
  list-style: none;
  position: absolute;
  top: 20px;
  margin-left: 190px;
  justify-content: left;
}

.navBtn {
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
  float: left;
  width: auto;
  text-align: left;
}

.navBtn:first-child {
  width: 180px;
}

.navBtnText{
  display: block;
  min-width: 120px;
  line-height: 40px;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.navBtnText:first-child {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 120px;
}

.navBtnText:before,
.navBtnText:after{
  position: absolute;
  content: "";
  transition: all .25s;
}

.navBtnText:before{
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  width: 10%;
  height: 33%;
  left: 0px;
  bottom: 0px;
}

.navBtnText:after{
  border-top: 2px solid white;
  border-right: 2px solid white;
  width: 10%;
  height: 33%;
  top: 0px;
  right: 0px;
}

.navBtnText:hover:before{
  width: 100%;
  height: 100%;
}

.navBtnText:hover:after{
  width: 100%;
  height: 100%;
}

.logoCircle {
  width: 140px;
  height: 140px;
  left: 20px;
  top: 10px;
  border-radius: 70px;
  border: 1px solid #765F52;
  position: absolute;
  background: #fff;
  z-index: 6;
}

.bronzeLogo {
  width: 100px;
  position: relative;
  top: 30px;
  left: 20px;
  z-index: 10;
}
/* FOOTER */
.Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    color: #fff;
    height: 220px;
    background: #765F52; 
    font-size: 20px;
    padding: 14px;
}

.footerLogo {
  width: 140px;
}

.footerBox {
  margin: 30px;
  text-align: center;
  width: 300px;
  height: auto;
}

.socialIcon {
  transition: transform 0.6s;
}

.socialIcon:hover {
  transform: scale(1.2);
  transition: transform 0.6s;
}
/* INDEX SITE  */
/* WOOD CONTENT */
.woodContent{ 
  width: 100%;
  height: 400px;
  background: url(../images/wood.jpg);
  z-index: -1;
}

#backgroudMainPlate {
  background: #fff;
  margin-top: 0px;
  margin-left: 10%;
  height: 150px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBorder {
  position: relative;
  top: 110px;
  width: 100%;
  height: 240px;
  color: #765F52;
}

.contentBorder p {
  width: 90%;
  margin-left: 5%;
  font-size: 40px;
  font-weight: 500;
  padding: 0px;
  text-align: center;
  font-family: 'raleway', sans-serif;
}

#top {
  width:80px;
  height: 5px;
  background: #765F52;
  position: relative;
  left: -15px;
}

#left { 
  height: 80px;
  width: 5px;
  background: #765F52;
  position: relative;
  top: -15px;
}

#bottom {
    width:80px;
    height: 5px;
    background: #765F52;
    position: absolute;
    right: -15px;
    bottom: 0px;
}

#right { 
  height: 80px;
  width: 5px;
  background: #765F52;
  position: absolute;
  bottom: -15px;
  right: 0px
}

/* SLIDER */
.sliderContent {
  width: 100%;
  height: 800px;
  margin: 0;
  background: url(../images/2.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

.sliderContentHover {
  width: 100%;
  height: 100%;
  background: #765F52;
  opacity: 0;
  z-index: 3;
}
/* BRONZE CONTENT */
.bronzeContent {
  width: 100%;
  height: auto;
  margin: 0;
  background: #765F52;
  display: flex;
  flex-direction: row;
}

.bronzeContent h3 {
  color: #fff;
  margin-left: 20%;
  margin-top: 80px;
  font-size: 2vw;
}

.bronzeContent p {
  margin-left: 20%;
  margin-right: 20px;
  margin-bottom: 80px;
  margin-top: 20px;
  font-size: 1.4vw;
  color: #fff;
  text-align: justify;
}

.photoBox {
  width: 60%;
}
.photoBox1 {
  width: 40%;
}

.bronzeContentBigImg {
  background: url('../images/product4/167.jpg');
  background-size: 100%;
  background-position: center center;
  border: 2px solid white;
  width: 60%;
  height: 37%;
  position: relative;
  top: 10%;
  left: 26%;
}

.bronzeContentSmallImg {
  background: url('../images/product2/75.jpg');
  background-size: 100%;
  background-position: center center;
  border: 2px solid white;
  width: 50%;
  height: 30%;
  position: relative;
  top: 8%;
  left: 21%;
}

/* PRODUCT CONTENT */
.productContent {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  background: url(../images/wood.jpg) no-repeat;
  background-size: 100%;
}

.productBanner {
  width: 80%;
  position: relative;
  text-align: center;
  line-height: 120px;
  top: 50px;
  margin-left: 10%;
  height: 120px;
  background: #fff;
  font-size: 50px;
  color: #765F52;
}
/* PRODUCT PASTILES */
.productPastileBox { 
  position: relative;
  top: 100px;
  width: 80%;
  height: 26vw;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.productPastile {
  width: 26vw;
  height: 26vw;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
  background: #fff;
  position: relative;
}

#pastTop {
  width: 80px;
  height: 5px;
  background: #765F52;
  top: 20px;
  left: 10px;
  position: absolute
}

#pastLeft {
  width: 5px;
  height: 80px;
  background: #765F52;
  top: 10px;
  left: 20px;
  position: absolute
}

#pastBottom {
  width: 80px;
  height: 5px;
  background: #765F52;
  bottom: 20px;
  right: 10px;
  position: absolute;
}

#pastRight {
  width: 5px;
  height: 80px;
  background: #765F52;
  bottom: 10px;
  right: 20px;
  position: absolute
}

#moreButton {
  position: absolute;
  width: 160px;
  height: 50px;
  top: 2px;
  right: 0;
  line-height: 50px;
  text-align: center;
  font-size: 26px;
  cursor: pointer;
  color: #765F52;
}

.productPastileImg {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.productPastileImg img {
  width: 100%;
  height: 100%;
}

.productOfferButton {
  margin-top: 50px;
  margin-bottom: 100px;
  width: 44%;
  height: 100px;
  background: #fff;
  text-align: center;
  font-size: 2vw;
  color: #765F52;
  font-weight: 500;
  line-height: 100px;
  cursor: pointer;
}

#productPastileTitle {
  position: absolute;
  bottom: 8%;
  left: 10px;
  height: 30px;
  font-size: 20px;
  font-weight: 500;
  width: 80%;
  color: #765F52;
  
}


.productOfferButton #top {
  position: relative;
  width: 70px;
  left: 10px;
  top: 20px;
}

.productOfferButton #left {
  position: relative;
  height: 70px;
  left: 20px;
  top: 10px;
}

.productOfferButton #bottom {
  position: absolute;
  width: 70px;
  right: 10px;
  bottom: 20px;
  
}

.productOfferButton #right {
  position: absolute;
  height: 70px;
  right: 20px;
  bottom: 10px;
}
/* WHITE CONTENT */
.whiteContent {
  width: 100%;
  height: auto;
  margin: 0;
  background: #FFF;
  position: relative;
  justify-content: center;
}
.whiteText {
  width: 90%;
  height: auto;
  padding-left: 10%;
  margin-top: 80px;
  margin-bottom:80px;
}

.whiteText p {
  color: #765F52;
  font-size: 18px;
  font-weight: 400;
  width: 80%;
  margin-bottom: 10px;
}

.whiteText h3 {
  color: #765F52;
  font-size: 30px;
  font-weight: 400;
}

/* 404 PAGE */
.ErrPattern {
  font-size: 1.1em;
  height: 615px;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  vertical-align: middle;
  color: #765F52;
}

.ErrPatternText {
  position: relative;
  text-align: center;
  top: 10%;
}

.ErrPatternLogoCircle {
  width: 300px;
  height: 300px;
  background: #765F52;
  border-radius: 150px;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ErrPatternLogoCircle img {
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}

 @media only screen and (max-width: 1024px) {

  .header ul { 
    width: 100vw;
    height: 100vh;
    background: #765F52;
    opacity: 1;
    z-index: 3;
    transition: transform .3s;
    transform: translateX(-100vw);
    margin-left: 0px;
    justify-content: center;
    top: 0px;
  }

  .navBtn {
    margin-left: 25%;
    margin-right: 10px;
    float: none;
    width: 50%;
    height: 50px;
  }
  
  .navBtn:first-child {
    margin-top: 160px;
    width: 50%;
    margin-left: 25%;
  }
  
  .navBtnText{
    display: block;
    min-width: 120px;
    line-height: 40px;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .navBtnText:first-child {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 120px;
  }
  
  .navBtnText:before,
  .navBtnText:after{
    position: absolute;
    content: "";
    transition: all .25s;
  }
  
  .navBtnText:before{
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    width: 10%;
    height: 33%;
    left: 0px;
    bottom: 0px;
  }
  
  .navBtnText:after{
    border-top: 2px solid white;
    border-right: 2px solid white;
    width: 10%;
    height: 33%;
    top: 0px;
    right: 0px;
  }
  
  .navBtnText:hover:before{
    width: 100%;
    height: 100%;
  }
  
  .navBtnText:hover:after{
    width: 100%;
    height: 100%;
  }
  
  .logoCircle {
    width: 140px;
    height: 140px;
    left: 20px;
    top: 10px;
    border-radius: 70px;
    border: 1px solid #765F52;
    position: absolute;
    background: #fff;
  }
  
  .bronzeLogo {
    width: 100px;
    position: relative;
    top: 30px;
    left: 20px;
    z-index: 6;
  }

  .hamburger {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .hamburger1, .hamburger2, .hamburger3 {
    z-index: 6;
    width: 30px;
    height: 4px;
    background: #fff;
    position: absolute;
    border-radius: 3px;
  }

  .hamburger1 {
    top: 10px;
    right: 5px;
  }

  .hamburger2 {
    top: 18px;
    right: 5px;
  }

  .hamburger3 {
    top: 26px;
    right: 5px;
  }
  /* FOOTER */
  .Footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      vertical-align: middle;
      color: #fff;
      height: 520px;
      background: #765F52; 
      font-size: 20px;
      padding: 14px;
  }
  
  .footerLogo {
    width: 120px;
  }
  
  .footerBox {
    margin: 30px;
    margin-left: 15%;
    text-align: center;
    width: 70%;
    height: auto;
  }
  
  .socialIcon {
    transition: transform 0.6s;
  }
  
  .socialIcon:hover {
    transform: scale(1.2);
    transition: transform 0.6s;
  }
  /* INDEX SITE  */
  /* WOOD CONTENT */
  .woodContent{ 
    width: 100%;
    height: 400px;
    margin: 0;
    background: url(../images/wood.jpg) no-repeat;
    justify-content: center;
  }

  #backgroudMainPlate {
    background: #fff;
    margin-top: 0px;
    margin-left: 0%;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contentBorder {
    position: relative;
    top: 10vh;
    left: 5vw;
    width: 90vw;
    height: 70vh;
    color: #765F52;
  }
  
  .contentBorder p {
    width: 90vw;
    margin-left: 0vw;
    font-size: 2rem;
    font-weight: 500;
    padding: 0px;
    text-align: center;
    font-family: 'raleway', sans-serif;
  }
  
  #top {
    width:15vw;
    height: 5px;
    background: #765F52;
    position: relative;
    left: -15px;
  }
  
  #left { 
    height: 15vw;
    width: 5px;
    background: #765F52;
    position: relative;
    top: -15px;
  }
  
  #bottom {
      width:15vw;
      height: 5px;
      background: #765F52;
      position: absolute;
      right: -15px;
      bottom: 0px;
  }
  
  #right { 
    height: 15vw;
    width: 5px;
    background: #765F52;
    position: absolute;
    bottom: -15px;
    right: 0px
  }
  
  /* SLIDER */
  .sliderContent {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: url(../images/2.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
  }
  
  .sliderContentHover {
    width: 100%;
    height: 100%;
    background: #765F52;
    opacity: 0;
    z-index: 3;
  }
  /* BRONZE CONTENT */
  .bronzeContent {
    width: 100%;
    height: auto;
    margin: 0;
    background: #765F52;
    display: flex;
    flex-direction: column;
  }
  
  .bronzeContent h3 {
    color: #fff;
    margin-left: 5%;
    margin-top: 50px;
    font-size: 6vw;
  }
  
  .bronzeContent p {
    margin-left: 5%;
    margin-right: 20px;
    margin-bottom: 80px;
    margin-top: 10px;
    font-size: 4vw;
    color: #fff;
    text-align: justify;
  }
  
  .photoBox {
    width: 100%;
  }
  .photoBox1 {
    width: 100%;
  }
  
  .bronzeContentBigImg {
    background: url('../images/product4/167.jpg');
    background-size: 100%;
    background-position: center;
    border: 2px solid white;
    width: 90vw;
    height: 50vw;
    position: relative;
    top: 1vw;
    left: 4vw;
  }
  
  .bronzeContentSmallImg {
    background: url('../images/product2/75.jpg');
    background-size: 100%;
    background-position: center center;
    border: 2px solid white;
    width: 70vw;
    height: 40vw;
    position: relative;
    top: -2vw;
    left: 15vw;
  }
  
  /* PRODUCT CONTENT */
.productContent {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  background: url(../images/wood.jpg);
  background-size: 100%;
}

.productBanner {
  width: 90%;
  text-align: center;
  line-height: 100px;
  top: 20px;
  margin-left: 5%;
  height: 100px;
  background: #fff;
  font-size: 5vw;
  color: #765F52;
}
/* PRODUCT PASTILES */
.productPastileBox { 
  top: 0px;
  width: 88%;
  left: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productPastile {
  width: 80vw;
  height: 80vw;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 60px;
  margin-bottom: 0px;
  background: #fff;
}

#pastTop {
  width: 80px;
  height: 5px;
  background: #765F52;
  top: 20px;
  left: 10px;
  position: absolute
}

#pastLeft {
  width: 5px;
  height: 80px;
  background: #765F52;
  top: 10px;
  left: 20px;
  position: absolute
}

#pastBottom {
  width: 80px;
  height: 5px;
  background: #765F52;
  bottom: 20px;
  right: 10px;
  position: absolute;
}

#pastRight {
  width: 5px;
  height: 80px;
  background: #765F52;
  bottom: 10px;
  right: 20px;
  position: absolute
}

#moreButton {
  position: absolute;
  width: 160px;
  height: 50px;
  top: 2px;
  right: 0;
  line-height: 50px;
  text-align: center;
  font-size: 26px;
  cursor: pointer;
  color: #765F52;
}

.productPastileImg {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.productPastileImg img {
  width: 100%;
  height: 100%;
}

.productOfferButton {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 92%;
  height: 100px;
  background: #fff;
  text-align: center;
  font-size: 4.6vw;
  color: #765F52;
  font-weight: 500;
  line-height: 100px;
  cursor: pointer;

}

#productPastileTitle {
  position: absolute;
  bottom: 8%;
  left: 10px;
  height: 30px;
  font-size: 20px;
  font-weight: 500;
  width: 80%;
  color: #765F52;
  
}


.productOfferButton #top {
  position: absolute;
  width: 70px;
  left: 10px;
  top: 20px;
}

.productOfferButton #left {
  position: absolute;
  height: 70px;
  left: 20px;
  top: 10px;
}

.productOfferButton #bottom {
  position: absolute;
  width: 70px;
  right: 10px;
  bottom: 20px;
  
}

.productOfferButton #right {
  position: absolute;
  height: 70px;
  right: 20px;
  bottom: 10px;
}
  /* WHITE CONTENT */
  .whiteContent {
    width: 100%;
    height: auto;
    margin: 0;
    background: #FFF;
    position: relative;
    justify-content: center;
  }
  .whiteText {
    width: 90%;
    height: auto;
    padding-left: 10%;
    margin-top: 80px;
    margin-bottom:80px;
  }
  
  .whiteText p {
    color: #765F52;
    font-size: 16px;
    font-weight: 400;
    width: 90%;
    margin-bottom: 10px;
    text-align: justify;
  }
  
  .whiteText h3 {
    
    width: 90%;
    color: #765F52;
    font-size: 24px;
    font-weight: 400;
  }
  
  
  /* 404 PAGE */
  .ErrPattern {
    font-size: 1.1em;
    height: 615px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    vertical-align: middle;
    color: #765F52;
  }
  
  .ErrPatternText {
    position: relative;
    text-align: center;
    top: 10%;
  }
  
  .ErrPatternLogoCircle {
    width: 300px;
    height: 300px;
    background: #765F52;
    border-radius: 150px;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .ErrPatternLogoCircle img {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
  }
}