@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
::selection {
  color: rgb(68, 55, 48); 
  background: #aaa;
}


* {
    padding: 0;
    margin: 0;
    font-family: 'raleway', sans-serif;
  }

  .banner {
      width: 100%;
      height: 300px;
      background: url(../images/wood.jpg);
      z-index: -1;
  }

  .bannerPlate {
      width: 80%;
      background: #fff;
      height: 180px;
      position: relative;
      top: 20%;
      left: 10%;
      font-size: 40px;
      color: #765F52; 
      line-height: 180px;
  }

  .bannerPlate p {
      margin-left: 100px;
  }

  .productsPlate {
      width: 100%;
      min-height: 1300px;
      background: #765F52;
  }

  .productsInfoBanner {
      width: 100%;
      height: 150px;
      line-height: 150px;
      cursor: pointer;
  }

  .productsInfoBanner p {
    font-size: 32px;
    color: #765F52;
    font-weight: 600;
    text-align: center;
  }

  .PlateRow {
      width: 80%;
      position: relative;
      left: 10%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 50px 0px;
      top: 30px
  }

/* PASTILE */

  
  .productsPastile {
    width: 26vw;
    height: 26vw;
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    position: relative;
    z-index: 10;
  }
  
  #pastTop {
    width: 80px;
    height: 5px;
    background: #765F52;
    top: 20px;
    left: 10px;
    position: absolute
  }
  
  #pastLeft {
    width: 5px;
    height: 80px;
    background: #765F52;
    top: 10px;
    left: 20px;
    position: absolute
  }
  
  #pastBottom {
    width: 80px;
    height: 5px;
    background: #765F52;
    bottom: 20px;
    right: 10px;
    position: absolute;
  }
  
  #pastRight {
    width: 5px;
    height: 80px;
    background: #765F52;
    bottom: 10px;
    right: 20px;
    position: absolute
  }
  
  #moreButton {
    position: absolute;
    width: 160px;
    height: 50px;
    top: 2px;
    right: 0;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
    color: #765F52;
  }
  
  .productsPastileImg {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .productsPastileImg img {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  
  .productsOfferButton {
    margin-top: 50px;
    width: 44%;
    height: 100px;
    background: #fff;
    text-align: center;
    font-size: 32px;
    color: #765F52;
    font-weight: 500;
    position: relative;
    line-height: 100px;
    cursor: pointer;
  }
  
  #productsPastileTitle {
    position: absolute;
    bottom: 30px;
    left: 34px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #765F52;
    
  }


  /* Product View */
  .productViewPlate { 
    width: 100%;
    min-height: 850px;
    display: flex;
    flex-direction: row;
  }

  .gallery {
    max-width: 30%;
    max-height: 650px;
    left: 10%;
    position: relative;
    top: 80px
  }

.productDescription {
  width: 50%;
  position: relative;
  left: 10%;
  top: 90px;
  max-height: 650px;
}

#productTitle {
  font-weight: bold;
  font-size: 32px;
  color: #765F52; 
  text-decoration: underline;
  margin-left: 30px;
}

#productPrice {
  font-size: 24px;
  margin-left: 30px;
  color: #765F52;
}

.productDescriptionText h3 {
  font-weight: bold;
  font-size: 24px;
  color: #765F52; 
  text-decoration: underline;
  margin-left: 0px;
}

.productDescriptionText p {
  font-size: 18px;
  text-align: justify;
  color: #765F52; 
  margin-left: 0px;
  margin-right: 30px;
}

.productDescriptionText ul {
  color: #765F52;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

.productOption {
  margin-left: 30px;

}

.productOption h3 { 
  font-size: 20px;
  color: #765F52;
}

.productOption h4 {
  color: #765F52;
  font-size: 18px;
}

.productOption select {
  width: 120px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #765F52;
}

#prodTop {
  position: absolute;
  width: 80px;
  height: 5px;
  background: #765F52;
  top: -10px;
  left: 4px;
}

#prodBottom {
  position: absolute;
  width: 80px;
  height: 5px;
  background: #765F52;
  bottom: 30px;
  right: 0px;
}

#prodLeft {
  position: absolute;
  width: 5px;
  height: 80px;
  background: #765F52;
  top: -20px;
  left: 14px;
}

#prodRight {
  position: absolute;
  width: 5px;
  height: 80px;
  background: #765F52;
  bottom: 20px;
  right: 10px;
}

.subCategory {
  width: 80%;
  background-color: #fff;
  position: relative;
  left: 10%;
  top: 30px;
  height: 100px;
  align-items: center;
  text-align: center;
  font-size: 40px;
  color: #765F52;
  line-height: 100px;
}


.infobanner {
  font-size: 30px;
  color: #765F52
}

@media only screen and ( max-width: 1124px) {
  .PlateRow {
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    padding: 0px 0px;
    padding-top: 40px;
  }

  .productsPastile {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    width: 80vw;
    height: 80vw;
  }

  #productsPastileTitle {
    position: absolute;
    top: 60px;
    bottom: 30px !important;
    left: 74px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #765F52;

  }

  .bannerPlate {
    font-size: 30px;
    height: 140px;
    top: 30%;
    line-height: 140px;
  }

  .bannerPlate p {
    margin-left: 20px;
  }

  .productsInfoBanner p {
    font-size: 16px;
  }

  .subCategory { 
    font-size: 28px;
    width: 81%;
    left: 10%
  }

    /* Product View */
    .productViewPlate { 
      width: 100%;
      min-height: 1550px;
      display: flex;
      flex-direction: column;
    }
  
    .gallery {
      max-width: 80%;
      max-height: 650px;
      left: 10%;
      position: relative;
      top: 80px
    }
  
  .productDescription {
    width: 100%;
    position: relative;
    left: 0%;
    top: 110px;
    max-height: 650px;
  }
  
  #productTitle {
    font-weight: bold;
    font-size: 24px;
    color: #765F52; 
    text-decoration: underline;
    margin-left: 30px;
  }
  
  #productPrice {
    font-size: 24px;
    font-weight: 700;
    margin-left: 30px;
    color: #765F52;
  }
  
  .productDescriptionText {
    margin-top: 10px
  }
  .productDescriptionText h3 {
    font-weight: bold;
    font-size: 22px;
    color: #765F52; 
    text-decoration: underline;
    margin-left: 0px;
  }
  
  .productDescriptionText p {
    font-size: 18px;
    text-align: justify;
    color: #765F52; 
    margin-left: 0px;
    margin-right: 30px;
  }
  
  .productOption {
    margin-left: 30px;
  
  }
  
  .productOption h3 { 
    font-size: 20px;
    color: #765F52;
  }
  
  .productOption h4 {
    color: #765F52;
    font-size: 18px;
  }
  
  .productOption select {
    width: 120px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #765F52;
  }
  
  #prodTop {
    display: none;
  }
  
  #prodBottom {
    display: none;
  }
  
  #prodLeft {
    display: none;
  }
  
  #prodRight {
    display: none;
  }
}